.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -- main css * --*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- override material design css start --- */

header.MuiAppBar-positionFixed {
  background-color: #f60;
}

.makeStyles-drawerPaper-6 {
  background-image: linear-gradient(#dfdfdf,#ffffff);
}

/* --- override material design css end --- */

/* --- common style start --- */
a {
  color:  #f60;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

div.MuiTablePagination-toolbar {
  min-height: 45px;
  padding-right: 2px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background: #fafafa;
  width: 100%;
  right: 3px;
}
div.makeStyles-toolbar-5, div.jss5 {
  min-height: 35px;
}

/* --- common style end --- */